<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../../static/signupPage/css/customRadioButton.css">
<style>
    .flex-rad-btn
    {
        display: flex;
        flex-wrap: wrap;
        gap: 5em;
    }
</style>
<body>

<h1>Custom Radio Buttons</h1>

<div class="flex-rad-btn">
    <label class="custom-radio"> 100 Level
        <input type="radio" checked="checked" name="custom-radio">
        <span class="custom-radio-checkmark"></span>
      </label>
      
      <label class="custom-radio"> 200 Level
        <input type="radio" name="custom-radio">
        <span class="custom-radio-checkmark"></span>
      </label>
      
      <label class="custom-radio"> 300 Level
        <input type="radio" name="custom-radio">
        <span class="custom-radio-checkmark"></span>
      </label>
</div>

<div class="flex-rad-btn">
    <label class="custom-radio"> 400 Level
        <input type="radio" name="custom-radio">
        <span class="custom-radio-checkmark"></span>
      </label>
      
      <label class="custom-radio"> 500 Level
          <input type="radio" name="custom-radio">
          <span class="custom-radio-checkmark"></span>
      </label>
      
      <label class="custom-radio"> 600 Level
          <input type="radio" name="custom-radio">
          <span class="custom-radio-checkmark"></span>
      </label>
</div>

</body>

</html>
