* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;           
}

.container {
    text-align: center;
}

button {
    border-radius: 10px;
    background: #020167;
    padding: 0.938em 1.563em;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

a {
    color: #F2F2F6;
    font-family: Satoshi;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

h1 {
    color: #070707;
    font-family: Satoshi;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 2em 0; 
}

img {
    width: 65px;
    height: 69px;
}

button:hover {
    animation: pulse 1s infinite; /* Apply the pulse animation on hover */
}

/* Keyframes for the pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Media query for larger screens */
@media screen and (min-width: 600px) {
    h1 br {
        display: none;
    }
    h1 {
        color: #070707;
        font-family: Satoshi;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    img {
        width: 116px;
        height: 124px;
        align-self: flex-start;
    }
    a {           
        font-family: Satoshi;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}