<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuChatBot- Welcome</title>
    <link rel="stylesheet" href="../../static/landingPageStyle/css/landingPage.css">
    <style type="text/css">
    
    </style>
</head>
<body>
    <div class="container">
        <img class="item1" src="../../static/Images/recurringImages/Babcock-University 2.png" alt="BU Logo">
        <h1>Welcome to the <br>BUChatBot</h1>
        <button><a href="#">Get Started</a></button>
    </div>
</body>
</html>
