<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/chatbot/userChatbot/css/styles.css">
</head>
<body>
    <section class="side-bar">
        <p class="new-chat">New chat</p>
        <div class="recent-chat">
            <p style="color: white; font-weight: 2rem;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
            <p style="color: white;">Hey</p>
        </div>
        

        <!-- <button>New Chat</button> -->
        <div class="settings">
            <div class="user-circle">AD</div>
            <p class="username">Mosopefoluwa Adebawojo</p>
        </div>
        <div class="nav">
            <!-- <p style="color: white; ">Made by Sope</p> -->
        </div>
    </section>
    <section class="main">
        <div class="logo-title">
            <img src="../../static/Images/recurringImages/Babcock-University 2.png">
            <h1>Bu_Chatbot</h1>
        </div>
        <div class="middle-section left-aligned">
            <h2>Hello Tanny,</h2>
            <p class="section-prompt">How can I help you today?</p>
            <div class="quick-pick">
                <div class="quick-pick-card">
                    <p class="card-content">TechXplore:The BUCC Convention 2023</p>
                </div>
                <div class="quick-pick-card">
                    <p class="card-content">TechXplore:The BUCC Convention 2023</p>
                </div>
                <div class="quick-pick-card">
                    <p class="card-content">TechXplore:The BUCC Convention 2023</p>
                </div>
            </div>
        </div>
        <div id="output" class="chat-area" ></div>


        <div class="bottom-section">
            <div class="input-container">
                <textarea id="userInput" placeholder="Ask me anything..."></textarea>
                <!-- <input placeholder="Ask me anything..."/> -->
                <div id="submit" onclick="submitInput()"><img src="../../static/chatbot/userChatbot/img/Hicon/Linear/Vector.svg"></div>
            </div>
                
            <p class="info">BuBot Version 1</p>
        </div>

        
    </section>
    <script src="../../static/chatbot/userChatbot/js/app.js"></script>

</body>
</html>